<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title> 
    <link rel="stylesheet" href="/somecss">
</head>
<body>

  this will be shared content

    <div>
        <h2>this is about me</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam repellendus reprehenderit voluptate sunt eligendi, eius explicabo itaque, doloremque error magnam exercitationem quo repellat velit minus voluptatem nam in praesentium molestias.</p>
        <a href="/home">go home</a>
    </div>
</body>
</html>

