<footer>

    <div>
        <h3><%=footerName%></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quasi asperiores alias voluptatibus magni, saepe fugit quisquam qui aspernatur, ipsum doloremque architecto! Illo cum natus odio minima saepe ad temporibus.</p>
    </div>
</footer>

